body {
  line-height: 1.5;
  margin: 0;
}
header {
  background-color: #f1df15;
  text-align: center;
  }

  h1 {
  font-family: 'Sigmar One', cursive;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  background-color: #f1df15;
  xpadding: 1em 2em 0em 2em;
  margin: auto;
  color: #7f1010;
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0
}

nav a{
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #7f1010;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin: 0;
  text-align: center;
}

blockquote {
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  color: #f1e12a;
  margin: 0;
  padding: 0em 1em 0em 1em;
}

nav li {
  display: inline-block;
  text-align: center;
}

figure {
  text-align: center;
  border: 3px solid #f1e12a;
  border-radius: 24px;
  padding: 1em 1em 1em 1em;
  margin: 0;
  background-color: #f9f394;
}

figcaption {
  font-style: italic;
  padding: 1em 0em 1em 0em;
}

img {
width: 100%
}

dd {
  margin: 0;
  padding: 0em 0em 0em 0.5em
}

dt {
  font-weight: bold;
  padding: 0em 0em 0em 0.5em
}

.cite {
  text-align: center;
  background-color: white;
  font-size: 16pt;
  margin: 0;
  padding: 0em 0em 2em 0em;
}

.g {
  font-style: italic;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #7f1010;
  margin: 0;
  padding: 0em 0em 0em 0.25em;
  font-family: 'Sigmar One', cursive;
  border-top: 5px solid yellow;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #7f1010;
  margin: 1;
  font-family: 'Sigmar One', cursive;
  padding: 0em 0em 0em 0.5em
}

footer {
  background-color: #f1df15;
  padding: 2em 2em 2em 2em;
  text-align: center;
}

a:hover {
  background-color: yellow;
}

p {
  font-size: 14pt;
  padding: 0em 0em 0em 0.5em
}

.quotation {
  text-align: center;
  font-size: 24pt;
  color: #f1e12a;
  margin: 0;
  padding: 0em;
}
